{% extends 'common/base.html' %}
{% load crispy_forms_tags %}
{% load uppercase %}

{% block content %}
{#    <div class="alert alert-success" role="alert">#}
{#        A simple success alert—check it out!#}
{#    </div>#}
    {% uppercase %}
    <h1 style="color: orangered">Wellcome!</h1>
    {% enduppercase %}
    
    <form>
        {{ my_form }}
    </form>
    <form>
        {% crispy my_form %}
    </form>



{#    examples for simple from styling#}
{#    <form>#}
{#    {% for field in my_form %}#}
{#        {{ field.label_tag }} {{ field }}#}
{#        {% if field.errors %}#}
{#            <div class='errors'>#}
{#                {{ field.errors }}#}
{#            </div>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#    </form>#}
{#    #}
{#    <form>#}
{#    {% for field in my_form %}#}
{#        <input#}
{#            type="{{ field.widget_type }}"#}
{#            name="{{ field.html_name }}"#}
{#            id="{{ field.id_for_label}}"#}
{#        />#}
{#    {% endfor %}#}
{#    </form>#}
{% endblock %}
